{% extends 'index.html' %}

{% block content %}
<div class="py-5">
    <div class="container bg-light py-3 px-lg-5 py-lg-5">
        <div class="row mb-3 py-2">
            {% for message in get_flashed_messages() %}
              <div class="col">
                <h6> {{ message }}</h6>
              </div>
            {% endfor %}
        </div>
      <form method="POST" enctype="multipart/form-data">

            <div class="row mb-3 py-2">
                <div class="col text-left">
                    <h3>Fill the parameters for generation</h3>
                </div>
                <div class="col text-right">
                   <button class="btn btn-info" type="submit">Generate</button>
                </div>
            </div>

            <hr/>

            <div class="row py-3 my-2">
                <div class="col-12 col-lg-8 offset-lg-2">
                     <div class="form-row">
                        <div class="col-md-3 mb-3">
                            Customizing File
                        </div>
                        <div class="col-md-5 mb-3">
                          <input type="file" name="file" accept=".xlsm, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" required/>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-3 mb-3">
                          <label for="sender">Sender</label>
                        </div>

                         <div class="col-md-3 mb-3">
                           <input type="text" class="form-control" id="sender"
                                    name="sender" maxlength="20">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-3 mb-3">
                          <label for="receiver">Receiver</label>
                        </div>
                         <div class="col-md-3 mb-3">
                           <input type="text" class="form-control" id="receiver"
                                    name="receiver" maxlength="20">
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="col-md-3 mb-3">
                            <label for="test_system">Test System</label>
                        </div>
                        <div class="col-md-5 mb-3">
                            <select name="test_system" id="test_system"
                                class="form-control">
                                <option value="CI">CI</option>
                                <option value="TEST">Test</option>
                                <option value="HOTFIX">HOTFIX</option>
                            </select>
                       </div>
                    </div>
                </div>
            </div>

            <div class="row mb-3 py-2">
                <div class="col text-left">
                    <h3>Generated EDIFACT</h3>
                </div>
                <div class="col text-right">
                   <button class="btn btn-info" onclick="copy">Copy</button>
                </div>
            </div>
            <hr/>

            <div class="row py-3 my-2">
                <div class="col-12 col-lg-8 offset-lg-2">
                    <div class="form-row">
                        <div class="col-md-3 mb-3">
                          <label for="edi_payload">EDI Payload</label>
                        </div>

                         <div class="col-md-3 mb-3">
                           <input type="textarea" class="form-control" id="edi_payload"
                                    name="edi_payload" value="" readonly>
                        </div>
                    </div>
                </div>
            </div>
      </form>
    </div>
</div>
{% endblock %}